@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    color: white; 
    background-color: rgb(15, 15, 15);   
}

nav{
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}
nav li{
    display: inline-block;
    padding: 1%;
    margin: 1%;
}
nav li a{
    font-size: 110%;
    text-decoration: none;
    color: rgb(170, 170, 170);
    transition: 0.3s;
}
nav li a:hover{
    color: rgb(168, 129, 28);
}
.body{
    background-color: rgb(15, 15, 15);
}
.top{
    text-align: center;
}
.logo img{
    height: 230px;
    width: 200px;
    
}
.descrip{
    margin: 5%;
    text-align: center;
    font-size: 108%;
}
.sub-topic{
    margin: 6%;
}
.about h1{
    font-size: 205%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topic{
    color: rgb(168, 129, 28);
}
.paragraphs{
    color: gray;
}
.covers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    width: 95%;    
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
    background: #404040;
}
.slider-wrapper .slide-button#prev-slide{
    left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide{
    right: -25px;
}

.slider-wrapper .image-list{
    display: grid;
    gap: 25px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    list-style: none;
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .image-list .image-item {
    height: 200px;
    width: auto;
    object-fit: cover;
    transition: 0.4s;    
}
.slider-wrapper .image-list .image-item:hover {
    transform: scale(1.1);
    
}
.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
    
}
.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
      }
      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
}


#contact a{
    text-decoration: none;
    color: white;
}
.totop{
    text-align: center;
}
.to-top{
    color: white;
    text-decoration: none;
    background-color: #785f37;
    padding: 10px;
    letter-spacing: .2mm;
    transition: .6s;
}
.to-top:hover{
    background-color: black;
}
footer{
    background-color: rgb(0, 0, 0);
}
.footer-content{
    text-align: center;
}
footer h3{
    font-size: 150%;
}
.sharing{
	text-align: center;
}